/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.logo{
  font-family:STXingkai;
  color:white;
  font-size:30px;
  margin:10px;
}

#content {
    height: 85%;
    width: 100%;
    background: url(homepage.png) no-repeat;
    background-size:100% 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
}

#homeSubmit {
    width: 230px;
    margin: 10px;
    color: grey;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    height: 45px;
    line-height: 35px;
}

.center-in-center{
  position: absolute;
  top: 50%;
  left:60%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.table{
  margin-bottom: 10px;
}

.table-striped > tbody > tr:hover >td.has_hover {
  background-color: #C0C0C0;
}

footer {
  background-color: #555;
  color: white;
  padding: 10px;
}

.body-background{
  background-image: image-url('background.jpg');
  //background-color: #DADADA;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

body{
  padding-top: 50px;
  padding-bottom: 100px;
}

html {
  height: 100%;
}






